* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 1500px;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  display: block;
  justify-content: space-between;
  width: fit-content;
  margin-top: 10%;
  margin-left: 10%;
  z-index: 1;
}

nav a {
  display: block;
  text-decoration: none;
  width: fit-content;
  font-size: 1.5rem;
}

.logo {
  margin: 1rem 0;
  font-size: 3rem;
}

nav a:hover {
  color: rgb(34, 33, 32);
  border-bottom: 1px solid rgb(20, 20, 20);
  transition: 0.5s;
}

nav a:active {
  color: rgb(238, 66, 14);
  border-bottom: 1px solid rgb(238, 66, 14);
}
.container {
  height: 100vh;
  scroll-behavior: smooth;
}

.container img {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}
.main-title {
  position: absolute;
  color: #fff;
  font-size: 8em;
  margin-top: 250px;
  text-shadow: 2px 2px 5px #ce5d3a;
}
.grid-position {
  margin: 10vh 10%;
}
.content {
  width: 100%;
  background: white;
  min-height: 700px;
  z-index: 2;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10rem;
  margin-top: 1vh;
}
#work {
  width: 100%;
  background: white;
  min-height: 1200px;
}
.work-card {
  border-radius: 5px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  height: 300px;
}

.work-card:hover {
  translate: (0, -20px);
  box-shadow: 2px 5px 10px rgb(204, 74, 34);
}

.my-work-h2 {
  color: black;
  margin-left: 10%;
  padding-top: 10vh;
}
.before-and-after-h2 {
  color: black;
  margin-left: 10%;
  margin-top: -200px;
  margin-bottom: -150px;
}

.text {
  font-size: 1.1rem;
  color: black;
  text-align: center;
  height: 20%;
  background-color: bisque;
}

.div4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 100vh;
  background-color: blue;
  scroll-behavior: smooth;
}

.ombrella {
  margin-top: 200px;
}
.before-after-main-div {
  display: block;
  margin: 10vh 0;
}
.before-after {
  min-height: 100vh;
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  margin: 10%;
  min-height: fit-content;
  max-height: fit-content;
}
.completed-works1 {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background0.png");
  background-size: cover;
  transition: 4s;
}

.completed-works1:hover {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background.png");
  background-size: cover;
  transition: 4s;
}

.completed-works2 {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background0.png");
  background-size: cover;
  transition: 4s;
}

.completed-works2:hover {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background.png");
  background-size: cover;
  transition: 4s;
}

.completed-works3 {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background0.png");
  background-size: cover;
  transition: 4s;
}

.completed-works3:hover {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background.png");
  background-size: cover;
  transition: 4s;
}

.completed-works4 {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background0.png");
  background-size: cover;
  transition: 4s;
}

.completed-works4:hover {
  min-height: 30vh;
  width: 100%;
  height: 500px;
  background-image: url("/images/bg1 effect/Background.png");
  background-size: cover;
  transition: 4s;
}

.layer {
  display: block;
}
